div.notice {
    border-left-color: rgba(var(--pst-color-success), 1);
}
div.notice .admonition-title {
    background-color: rgba(var(--pst-color-success), .1)
}
div.notice .admonition-title:before {
    color: rgba(var(--pst-color-success), 1);
    content: '\f19d';
}